{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'cria_conta.css' %}" />
    <link rel="stylesheet" href="{% static 'altera_senha.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaisei Opti:wght@400;500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=jsMath-cmr10:wght@400&display=swap" />
</head>
<body>
    <div class="alteracao-de-senha">
        <form method="post" action="{% url 'altera_senha' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control" name="email" id="email" type="email" placeholder="E-mail" required />
            </div>

            <div class="form-group">
                <label for="nova_senha">Nova Senha</label>
                <input class="form-control" name="nova_senha" id="nova_senha" type="password" placeholder="Nova Senha" required />
            </div>

            <div class="form-group">
                <label for="confirmacao_senha">Confirmação da Senha</label>
                <input class="form-control" name="confirmacao_senha" id="confirmacao_senha" type="password" placeholder="Confirmação da Senha" required />
            </div>

            <button type="submit" class="rectangle-button">Alterar Senha</button>
        </form>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <img class="logo-icon" alt="Logo" src="{% static 'logo@2x.png' %}" />
    </div>
</body>
</html>
