{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'altera.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Opti:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="cadastro">

      

      <input class="cadastro-child" type="text" placeholder="E-mail" />
      <input class="cadastro-inner" type="password" placeholder="Senha" />
      <input class="rectangle-input" type="password" placeholder="Confirmação da senha" />

      <img class="logo-icon" src="{% static 'logo@2x.png' %}" alt="Logo da Empresa"/>

      <div class="nome-completo">E-mail</div>
      <div class="senha">Senha</div>
      <div class="confirmao-da-senha">Confirmação da senha</div>

      <a href="{% url 'login' %}"><button class="image-6" id="menu_button"></button></a>
      <a href="{% url 'sucesso' %}">
        <button class="rectangle-button">Alterar senha</button>
      </a>
      
      <b class="termos-de-uso1">Esqueceu sua senha?</b>
        
    </div>
  </body>
</html>
