{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'cria_conta.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Opti:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="cadastro">

      

      <input class="cadastro-child" type="text" placeholder="Nome completo" />
      <input class="cadastro-item" type="text" placeholder="E-mail" />
      <input class="cadastro-inner" type="password" placeholder="Senha" />
      <input class="rectangle-input" type="password" placeholder="Confirmação da senha" />

      <img class="logo-icon" src="{% static 'logo@2x.png' %}" alt="Logo da Empresa"/>

      <div class="nome-completo">Nome completo</div>
      <div class="e-mail">E-mail</div>
      <div class="senha">Senha</div>
      <div class="confirmao-da-senha">Confirmação da senha</div>

      <a href="{% url 'login' %}"><button class="image-6" id="menu_button"></button></a>
      <a href="{% url 'sucesso' %}">
        <button class="rectangle-button">Enviar e-mail de confirmação</button>
      </a>
      

      <label for="radio-estudante" class="radio-label1">
        <input id="checkbox-estudante" class="checkbox-estudante" type="radio" name="userType" value="Estudante" />
        Estudante
      </label>

      <label for="radio-professor-professor" class="radio-label2">
        <input id="radio-professor" class="radio-professor" type="radio" name="userType" value="Professor" />
        Professor
      </label>

      

      <div class="li-e-concordo-container">
        Li e concordo com os
        <a href="{% url 'termos' %}" class="termos-de-uso">Termos de uso</a>
      </div>
      <input class="cadastro-child3" type="radio" />
    </div>
  </body>
</html>
