{% load static %}


<!DOCTYPE html>
<html>
  <div style="width: 100%; height: 1024px; position: relative; background: #D5F9F1">
    <img style="width: 258px; height: 241px; left: 40%; top: 126px; position: absolute" src="{% static 'logo@2x.png' %}" />
    <a href="{% url 'videos' %}" style="width: 118px; height: 61px; left: 50%; top: 566px; position: absolute; text-align: justify; color: black; font-size: 32px; font-family: Kaisei Opti; font-weight: 700; text-decoration: underline; word-wrap: break-word">Vídeos</div></a>
    <a href="{% url 'forum_post' %}" style="width: 200px; height: 61px; left: 50%; top: 657px; position: absolute; color: black; font-size: 32px; font-family: Kaisei Opti; font-weight: 700; text-decoration: underline; word-wrap: break-word">Canal de comunicação</div></a>
    <a href="{% url 'textos' %}" style="width: 106px; height: 61px; left: 50%; top: 471px; position: absolute; text-align: justify; color: black; font-size: 32px; font-family: Kaisei Opti; font-weight: 700; text-decoration: underline; word-wrap: break-word">Textos</div></a>
    <img style="width: 64px; height: 64px; left: 34%; top: 468px; position: absolute" src="{% static 'image-9@2x.png' %}" />
    <img style="width: 76px; height: 70px; left: 34%; top: 562px; position: absolute" src="{% static 'image-8--input@2x.png' %}" />
    <img style="width: 83px; height: 83px; left: 34%; top: 652px; position: absolute" src="{% static 'image-13@2x.png' %}" />
    <img style="width: 46px; height: 46px; left: 34%; top: 848px; position: absolute" src="{% static 'image-15@2x.png' %}" />
    <img style="width: 53px; height: 53px; left: 34%; top: 765px; position: absolute" src="{% static 'image-14@2x.png' %}" />
    <a href="{% url 'logout' %}" style="width: 317px; height: 31px; left: 50%; top: 863px; position: absolute; color: black; font-size: 16px; font-family: Kaisei Opti; font-weight: 700; word-wrap: break-word">Sair</div></a>
    <a href="{% url 'termos_logado' %}" style="width: 317px; height: 31px; left: 50%; top: 774px; position: absolute; color: black; font-size: 16px; font-family: Kaisei Opti; font-weight: 700; word-wrap: break-word">Termos de uso</div></a>
  </div>
</html>
