{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'sumario.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Opti:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="sumrio">
      <div class="frame">
        <div class="frame1">
          <img class="image-12-icon" alt="" src="{% static 'image-12@2x.png' %}" />

          <img class="image-9-icon" alt="" src="{% static 'image-9@2x.png' %}" />

          <div class="frame2">
            <img class="image-8-input" alt="" src="{% static 'image-8--input@2x.png' %}"
            />

            <img class="image-13-icon" alt="" src="{% static 'image-13@2x.png' %}" />
          </div>
        </div>
      </div>
      <div class="frame3">
        <div class="group">
          <img class="logo-icon" alt="" src="{% static 'logo@2x.png' %}" />
        </div>
        <div class="frame4">
          <div class="frame5">
            <div class="frame6">
              <div class="frame7">
                <div class="frame-child"></div>
              </div>
            </div>
            <div class="frame8">
              <div class="frame9">
                <b class="pesquisa">Pesquisa</b>
                <div class="frame10">
                  <div class="frame11">

                    <img class="image-10-icon" alt="" src="{% static 'image-15@2x.png' %}" />

                    <img class="image-14-icon" alt="" src="{% static 'image-14@2x.png' %}" />
                  </div>
                  <div class="frame12">
                    <div class="meu-perfil-wrapper">
                      <b class="meu-perfil">Meu perfil</b>
                    </div>
                    <div class="meu-perfil-wrapper">
                      <b class="meu-perfil">Meu perfil</b>
                    </div>
                    <b class="termos-de-uso">Termos de uso</b>
                    <b class="termos-de-uso1">Termos de uso</b>
                  </div>
                </div>
              </div>
              <b class="textos">Textos</b>
            </div>
          </div>
          <div class="frame13">
            <b class="textos">Vídeos</b>
            <div class="frame14">
              <b class="canal-de-comunicao">Canal de comunicação</b>
              <div class="frame15">
                <img class="image-11-icon" alt="" src="{% static 'image-11@2x.png' %}" />

                <b class="sair">Sair</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>