{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'videos.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Opti:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="videos">
      <img class="logo-icon" alt="" src="{% static 'logo@2x.png' %}" />

      
      <b class="videos1">Vídeos</b>
      <a href="{% url 'home' %}"><b class="sumrio">Sumário</b></a>
      <img class="image-20-icon" alt="" src="{% static 'image-20@2x.png' %}" />

      <img class="image-8-icon" alt="" src="{% static 'image-8@2x.png' %}" />

      <div class="videos-item"></div>
      {% if video_list %}
            <section class="lista-de-cards">
                {% for video in video_list %}
                    <article class="card">
                        
                        <img src="{{ video.link }}"/>
                        
                        <p>{{ video.title }} ({{ video.created_on }})</p>
                        <p>{{ video.body }}</p>
                    </article>
                {% endfor %}
            </section>
        {% else %}
            <p>Não foi encontrado nenhum video.</p>
        {% endif %}
    </div>
  </body>
</html>

