{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    
    <link rel="stylesheet" href="{% static 'cria_conta.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Opti:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="cadastro">
      
      <img style="width: 32px; height: 32px; left: 368px; top: 389px; position: absolute" src="{% static 'image6@2x.png' %}" />
 

      <input class="cadastro-child" type="text" />

      <input class="cadastro-item" type="text" />

      <input class="cadastro-inner" type="text" />

      <input class="rectangle-input" type="text" />

      <img class="logo-icon" alt="" src="{% static 'logo@2x.png' %}"/>

      <div class="informaes-para-cadastro">Informações para cadastro</div>
      <div class="nome-completo">Nome completo</div>
      <div class="e-mail">E-mail</div>
      <div class="senha">Senha</div>
      <div class="confirmao-da-senha">Confirmação da senha</div>
      <a href="{% url 'index' %}"><button class="image-6" id="menu_button"></button></a>
      <button class="rectangle-button"></button>
      <div class="enviar-e-mail-de">Enviar e-mail de confirmação</div>
      <input class="cadastro-child1" type="checkbox" name="userType" />
      <input class="cadastro-child2" type="checkbox" name="userType" />


      <div class="estudante">Estudante</div>
      <div class="li-e-concordo-container">
        Li e concordo com os
        <span class="termos-de-uso">Termos de uso</span>
      </div>
      <div class="professor">Professor</div>
      <input class="cadastro-child3" type="checkbox" />
    </div>
  </body>
</html>
