{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Otomanopee One:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Opti:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=jsMath-cmr10:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="login">
      <div class="estudo-ma-eado">Estudo Ma eado</div>
      <img class="image-6-icon" alt="" src="{% static 'image-6@2x.png' %}" />

      
      <img class="pin-layer-1-copy-1-2" alt="" src="{% static 'pin-layer-1-copy-1-2@2x.png' %}" />


      <input class="login-child" name="user_name" type="text" />

      <div class="login-item"></div>
      <button class="login-inner"></button>
      <input class="rectangle-input" name="senha" type="text" />

      <button class="rectangle-button"></button>
      <div class="login1">
        <span class="login-txt">
          <span class="login2">Login</span>
          <span class="span"> </span>
        </span>
      </div>
      <div class="senha">
        <span class="login-txt">
          <span class="login2">Senha</span>
          <span class="span"> </span>
        </span>
      </div>
      <div class="criar-uma-conta">Criar uma conta</div>
      <div class="entrar">Entrar</div>
      <a class="esqueceu-sua-senha">Esqueceu sua senha?</a>
    </div>
  </body>
</html>
