body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kaisei-opti: "Kaisei Opti";
  --font-jsmath-cmr10: jsMath-cmr10;
  --font-otomanopee-one: "Otomanopee One";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-lg: 18px;

  /* Colors */
  --verde-claro: #d5f9f1;
  --color-dimgray: #5a5353;
  --verde: #93c47d;
  --color-gray: rgba(0, 0, 0, 0.28);
  --azulroxoclaro: #cde6f3;
  --cinzaroxo: #8f99bb;

  /* Border radiuses */
  --br-2xl: 21px;
}
