body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kaisei-opti: "Kaisei Opti";

  /* font sizes */
  --font-size-mini: 0.94rem;
  --font-size-xl: 1.25rem;

  /* Colors */
  --rosa: #fd8686;
  --color-black: #000;
  --cinzaroxo: #8f99bb;
  --color-gray: rgba(0, 0, 0, 0.28);
  --color-dimgray: #5a5353;
  --azulroxoclaro: #cde6f3;

  /* Border radiuses */
  --br-8xl: 27px;
  --br-2xl: 21px;
}

  .logo-icon {
    position: absolute;
    top: 2rem;
    left: 93%;
    width: 8.5%;
    transform: translateX(-50%);
    object-fit: cover;
  }
  .image-25,
  .textos-child {
    position: absolute;
    top: 78.38rem;
    left: 35.69rem;
    width: 4.56rem;
    height: 4.56rem;
  }
  .textos-child {
    top: 76.06rem;
    left: 34.13rem;
    border-radius: var(--br-8xl);
    background-color: var(--azulroxoclaro);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--cinzaroxo);
    box-sizing: border-box;
    width: 20.25rem;
    height: 9.25rem;
  }
  .sumrio,
  .textos1 {
    position: absolute;
    display: inline-block;
  }
  .textos1 {
    top: 16.25rem;
    left: 38.75rem;
    font-size: 3rem;
    text-decoration: underline;
    text-align: center;
    width: 11rem;
    height: 3.63rem;
  }
  .sumrio {
    top: 21.63rem;
    left: 6.81rem;
    font-size: 1.5rem;
    width: 16.38rem;
    height: 1.31rem;
  }
  .image-20-icon,
  .image-31-icon {
    position: absolute;
    top: 21.63rem;
    left: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
  }
  .image-31-icon {
    top: 6.88rem;
    left: 48%;
    width: 7.69rem;
    height: 7.63rem;
  }
  .textos-item {
    position: absolute;
    top: 26.31rem;
    left: 0;
    border-radius: 44px;
    background-color: var(--azulroxoclaro);
    width: 100%;
    height: 76.06rem;
  }
  .rectangle-div,
  .textos-inner {
    position: absolute;
    top: 52.88rem;
    left: 5.69rem;
    border-radius: var(--br-8xl);
    background-color: var(--rosa);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--cinzaroxo);
    box-sizing: border-box;
    width: 34.94rem;
    height: 9.25rem;
  }
  .rectangle-div {
    left: 49.75rem;
  }
  .alfabtica,
  .ordem,
  .salvamento {
    position: absolute;
    color: var(--color-dimgray);
    display: inline-block;
  }
  .ordem {
    top: 28.88rem;
    left: 3.44rem;
    font-size: 2rem;
    width: 9.94rem;
    height: 2.25rem;
  }
  .alfabtica,
  .salvamento {
    top: 33.19rem;
    left: 6.13rem;
    font-size: var(--font-size-xl);
    width: 13.31rem;
    height: 1.75rem;
  }
  .salvamento {
    left: 17rem;
  }
  .textos-child1 {
    position: absolute;
    top: 40rem;
    left: 5.31rem;
    border-radius: var(--br-8xl);
    background-color: var(--rosa);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--cinzaroxo);
    box-sizing: border-box;
    width: 35.69rem;
    height: 9.25rem;
  }
  .textos-child2 {
    top: 33.56rem;
    left: 4.69rem;
    border-radius: var(--br-2xl);
    border: 1px solid var(--color-gray);
    box-sizing: border-box;
    width: 0.94rem;
    height: 1rem;
  }
  .textos-child2,
  .textos-child3,
  .textos-child4 {
    position: absolute;
    background-color: var(--rosa);
  }
  .textos-child3 {
    top: 33.56rem;
    left: 15.44rem;
    border-radius: var(--br-2xl);
    border: 1px solid var(--color-gray);
    box-sizing: border-box;
    width: 0.94rem;
    height: 1rem;
  }
  .textos-child4 {
    top: 37rem;
    left: 0;
    width: 93.38rem;
    height: 0.25rem;
  }
  .matemtica {
    margin: 0;
  }
  .funes-lineares {
    margin: 0;
    font-size: var(--font-size-xl);
    font-weight: 500;
  }
  .matemtica- {
    position: absolute;
    top: 40.81rem;
    left: 21.75rem;
    display: inline-block;
    width: 13.25rem;
    height: 7rem;
  }
  .textos-child5 {
    position: absolute;
    top: 66.25rem;
    left: 5.31rem;
    border-radius: var(--br-8xl);
    background-color: var(--rosa);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--cinzaroxo);
    box-sizing: border-box;
    width: 34.94rem;
    height: 9.25rem;
  }
  
  .image-26-icon {
    position: absolute;
    top: 41.38rem;
    left: 9.25rem;
    width: 6.5rem;
    height: 6.5rem;
    object-fit: cover;
  }
  .textos-child6 {
    position: absolute;
    top: 39.69rem;
    left: 49.75rem;
    border-radius: var(--br-8xl);
    background-color: var(--rosa);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--cinzaroxo);
    box-sizing: border-box;
    width: 34.94rem;
    height: 9.25rem;
  }
  
  .textos {
    position: relative;
    background-color: var(--rosa);
    width: 100%;
    height: 84.5rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-kaisei-opti);
  }

  .lista-de-cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: 285px;
  }
  
  .small-card {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: 160px;
  }
  
  .card img {
    width: 100%;
  }
  
  .small-card img {
    width: 100%;
  }
  
