body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-kaisei-opti: "Kaisei Opti";
  
    /* font sizes */
    --font-size-mini: 0.94rem;
    --font-size-xl: 1.25rem;
  
    /* Colors */
    --cinzaroxo: #8f99bb;
    --color-black: #000;
    --verde: #93c47d;
    --color-gray: rgba(0, 0, 0, 0.28);
    --color-dimgray: #5a5353;
    --amarelo: #fadfac;
    --azulroxoclaro: #cde6f3;
    --color-shadow: #9ea9cc;
  
    /* Border radiuses */
    --br-8xl: 27px;
    --br-2xl: 21px;
  }
  
    .logo-icon {
      position: absolute;
      top: 2rem;
      left: 93%;
      width: 8.5%;
      transform: translateX(-50%);
      object-fit: cover;
    }
    .image-25,
    .videos-child {
      position: absolute;
      top: 78.38rem;
      left: 35.69rem;
      width: 4.56rem;
      height: 4.56rem;
    }
    .videos-child {
      top: 76.06rem;
      left: 34.13rem;
      border-radius: var(--br-8xl);
      background-color: var(--amarelo);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border: 1px solid var(--amarelo);
      box-sizing: border-box;
      width: 20.25rem;
      height: 9.25rem;
    }
    .sumrio,
    .videos1 {
      position: absolute;
      display: inline-block;
    }
    .videos1 {
      top: 16.25rem;
      left: 44%;
      font-size: 3rem;
      text-decoration: underline;
      text-align: center;
      width: 11rem;
      height: 3.63rem;
    }
    .sumrio {
      top: 21.63rem;
      left: 6.81rem;
      font-size: 1.5rem;
      width: 16.38rem;
      height: 1.31rem;
    }
    .alfabtica,
    .ordem,
    .salvamento {
    position: absolute;
    color: var(--color-dimgray);
    display: inline-block;
    }
    .ordem {
    top: 462px;
    left: 55px;
    font-size: 32px;
    width: 159px;
    height: 36px;
    }
    .alfabtica,
    .salvamento {
    top: 531px;
    left: 98px;
    font-size: var(--font-size-xl);
    width: 213px;
    height: 28px;
    }
    .salvamento {
    left: 272px;
    }
    .image-20-icon,
    .image-8-icon {
      position: absolute;
      top: 21.63rem;
      left: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
    }
    .image-8-icon {
      top: 6.88rem;
      left: 46%;
      width: 7.69rem;
      height: 7.63rem;
    }
    .videos-item {
      position: absolute;
      top: 26.31rem;
      left: 0;
      border-radius: 44px;
      background-color: var(--amarelo);
      width: 100%;
      height: 76.06rem;
    }
    .rectangle-div,
    .videos-inner {
      position: absolute;
      top: 52.88rem;
      left: 5.69rem;
      border-radius: var(--br-8xl);
      background-color: var(--cinzaroxo);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border: 1px solid var(--cinzaroxo);
      box-sizing: border-box;
      width: 34.94rem;
      height: 9.25rem;
    }
    .rectangle-div {
      left: 49.75rem;
    }
    .alfabtica,
    .ordem,
    .salvamento {
      position: absolute;
      color: var(--color-dimgray);
      display: inline-block;
    }
    .ordem {
      top: 28.88rem;
      left: 3.44rem;
      font-size: 2rem;
      width: 9.94rem;
      height: 2.25rem;
    }
    .alfabtica,
    .salvamento {
      top: 33.19rem;
      left: 6.13rem;
      font-size: var(--font-size-xl);
      width: 13.31rem;
      height: 1.75rem;
    }
    .salvamento {
      left: 17rem;
    }
    .videos-child1 {
      position: absolute;
      top: 40rem;
      left: 5.31rem;
      border-radius: var(--br-8xl);
      background-color: var(--cinzaroxo);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border: 1px solid var(--cinzaroxo);
      box-sizing: border-box;
      width: 35.69rem;
      height: 9.25rem;
    }
    .videos-child2 {
      top: 33.56rem;
      left: 4.69rem;
      border-radius: var(--br-2xl);
      border: 1px solid var(--color-gray);
      box-sizing: border-box;
      width: 0.94rem;
      height: 1rem;
    }
    .videos-child2,
    .videos-child3,
    .videos-child4 {
      position: absolute;
      background-color: var(--cinzaroxo);
    }
    .videos-child3 {
      top: 33.56rem;
      left: 15.44rem;
      border-radius: var(--br-2xl);
      border: 1px solid var(--color-gray);
      box-sizing: border-box;
      width: 0.94rem;
      height: 1rem;
    }
    .videos-child4 {
      top: 37rem;
      left: 0;
      width: 93.38rem;
      height: 0.25rem;
    }
    .matemtica {
      margin: 0;
    }
    .funes-lineares {
      margin: 0;
      font-size: var(--font-size-xl);
      font-weight: 500;
    }
    .matemtica- {
      position: absolute;
      top: 40.81rem;
      left: 21.75rem;
      display: inline-block;
      width: 13.25rem;
      height: 7rem;
    }
    .videos-child5 {
      position: absolute;
      top: 66.25rem;
      left: 5.31rem;
      border-radius: var(--br-8xl);
      background-color: var(--cinzaroxo);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border: 1px solid var(--cinzaroxo);
      box-sizing: border-box;
      width: 34.94rem;
      height: 9.25rem;
    }
    
    .image-26-icon {
      position: absolute;
      top: 41.38rem;
      left: 9.25rem;
      width: 6.5rem;
      height: 6.5rem;
      object-fit: cover;
    }
    .videos-child6 {
      position: absolute;
      top: 39.69rem;
      left: 49.75rem;
      border-radius: var(--br-8xl);
      background-color: var(--cinzaroxo);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border: 1px solid var(--cinzaroxo);
      box-sizing: border-box;
      width: 34.94rem;
      height: 9.25rem;
    }
    
    .videos {
      position: relative;
      background-color: var(--cinzaroxo);
      width: 100%;
      height: 84.5rem;
      overflow: hidden;
      text-align: left;
      font-size: var(--font-size-mini);
      color: var(--color-black);
      font-family: var(--font-kaisei-opti);
    }
  
    .videos-item {
      position: absolute;
      top: 26.31rem;
      left: 0;
      border-radius: 44px;
      background-color: var(--azulroxoclaro);
      width: 100%;
      height: 76.06rem;
      overflow: hidden;
      z-index: 1; /* Set a higher z-index value */
    }
    
    .lista-de-cards {
      display: flex;
      flex-wrap: wrap;
      max-width: 80%;
      margin: 30rem auto 0; /* Adjust the top margin to move it lower on the page */
      justify-content: space-around;
      align-items: center;
      position: relative;
      z-index: 2; /* Set a lower z-index value than .textos-item */
    }
    
    
    
    
    .card,
    .small-card {
      flex: 0 0 calc(48% - 2rem); /* Adjust the width of the cards to leave symmetrical space between them */
      /* The -2rem accounts for the margin on each side */
      border: 1px solid var(--secondary-bg-color);
      border-radius: 5px;
      box-shadow: 2px 2px 10px var(--color-shadow);
      margin: 1rem;
      padding: 1.25rem;
      box-sizing: border-box; /* Ensure padding is included in the width */
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    
    .card img,
    .small-card img {
      width: 50%;
    }
    
  