{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'cria_conta.css' %}" />

</head>
<body>
    <div class="cadastro">
        <img class="logo-icon" src="{% static 'logo@2x.png' %}" alt="Logo da Empresa"/>
        <a href="{% url 'login' %}"><button class="image-6" id="menu_button"></button></a>
        <form method="post" action="{% url 'cria_conta' %}">
            {% csrf_token %}
            <input class="cadastro-child" name="nome_completo" type="text" placeholder="Nome completo" required />
            <input class="cadastro-item" name="email" type="email" placeholder="E-mail" required />
            <input class="cadastro-inner" name="senha" type="password" placeholder="Senha" required />
            <input class="rectangle-input" name="confirmacao_senha" type="password" placeholder="Confirmação da senha" required />

            <label class="radio-label1" for="radio-estudante">
                <input id="radio-estudante" type="radio" name="userType" value="Estudante" required />
                Estudante
            </label>

            <label class="radio-label2" for="radio-professor">
                <input id="radio-professor" type="radio" name="userType" value="Professor" required />
                Professor
            </label>

            <input class="cadastro-child3" type="checkbox" />

            <div class="li-e-concordo-container">
                Li e concordo com os
                <a href="{% url 'termos' %}" class="termos-de-uso">Termos de uso</a>
            </div>
            

            <a href="{% url 'sucesso' %}">
                <button class="rectangle-button" type="submit">Enviar e-mail de confirmação</button>
            </a>
        </form>
    </div>
</body>
</html>
