{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'termos.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Opti:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="termos-de-uso">
      <img class="logo-icon" alt="" src="{% static 'logo@2x.png' %}" />

      <a href="{% url 'home' %}"><button class="image-6"></button></a>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="poltica-privacidade-a-container">
          <p class="poltica-privacidade">
            <span class="poltica-privacidade1">Política Privacidade</span>
          </p>
          <p class="poltica-privacidade">
            <span class="poltica-privacidade1">&nbsp;</span>
          </p>
          <p class="poltica-privacidade">
            <span
              >A sua privacidade é importante para nós. É política do Estudo
              Mapeado respeitar a sua privacidade em relação a qualquer
              informação sua que possamos coletar no site
            </span>
            <a
              class="estudo-mapeado"
              href="https://politicaprivacidade.com/"
              target="_blank"
            >
              <span>
                <span class="estudo-mapeado1">Estudo Mapeado</span>
              </span>
            </a>
            <span>, e outros sites que possuímos e operamos. </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Solicitamos informações pessoais apenas quando realmente
              precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios
              justos e legais, com o seu conhecimento e consentimento. Também
              informamos por que estamos coletando e como será usado.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Apenas retemos as informações coletadas pelo tempo necessário
              para fornecer o serviço solicitado. Quando armazenamos dados,
              protegemos dentro de meios comercialmente aceitáveis ​​para evitar
              perdas e roubos, bem como acesso, divulgação, cópia, uso ou
              modificação não autorizados.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Não compartilhamos informações de identificação pessoal
              publicamente ou com terceiros, exceto quando exigido por lei.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >O nosso site pode ter links para sites externos que não são
              operados por nós. Esteja ciente de que não temos controle sobre o
              conteúdo e práticas desses sites e não podemos aceitar
              responsabilidade por suas respectivas
            </span>
            <a
              class="estudo-mapeado"
              href="https://politicaprivacidade.com/"
              target="_blank"
            >
              <span>
                <span class="estudo-mapeado1">políticas de privacidade</span>
              </span>
            </a>
            <span>. </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Você é livre para recusar a nossa solicitação de informações
              pessoais, entendendo que talvez não possamos fornecer alguns dos
              serviços desejados.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >O uso continuado de nosso site será considerado como aceitação de
              nossas práticas em torno de privacidade e informações pessoais. Se
              você tiver alguma dúvida sobre como lidamos com dados do usuário e
              informações pessoais, entre em contacto conosco.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>Compromisso do Usuário </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >O usuário se compromete a fazer uso adequado dos conteúdos e da
              informação que o Estudo Mapeado oferece no site e com caráter
              enunciativo, mas não limitativo:
            </span>
          </p>
          <ul class="a-no-se-envolver-em-atividad">
            <li class="b-no-difundir-propaganda-ou">
              <span
                >A) Não se envolver em atividades que sejam ilegais ou
                contrárias à boa fé a à ordem pública;
              </span>
            </li>
            <li class="b-no-difundir-propaganda-ou">
              <span
                >B) Não difundir propaganda ou conteúdo de natureza racista,
                xenofóbica, jogos de sorte ou azar, qualquer tipo de pornografia
                ilegal, de apologia ao terrorismo ou contra os direitos humanos;
              </span>
            </li>
            <li class="b-no-difundir-propaganda-ou">
              <span
                >C) Não causar danos aos sistemas físicos (hardwares) e lógicos
                (softwares) do Estudo Mapeado, de seus fornecedores ou
                terceiros, para introduzir ou disseminar vírus informáticos ou
                quaisquer outros sistemas de hardware ou software que sejam
                capazes de causar danos anteriormente mencionados.
              </span>
            </li>
          </ul>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>Mais informações </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Esperemos que esteja esclarecido e, como mencionado
              anteriormente, se houver algo que você não tem certeza se precisa
              ou não, geralmente é mais seguro deixar os cookies ativados, caso
              interaja com um dos recursos que você usa em nosso site.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Esta política é efetiva a partir de 27 de setembro de 2023.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>1. Termos </span>
          </p>
          <p class="poltica-privacidade">
            <span>Ao acessar ao site </span>
            <a
              class="estudo-mapeado"
              href="https://politicaprivacidade.com/"
              target="_blank"
            >
              <span>
                <span class="estudo-mapeado1">Estudo Mapeado</span>
              </span>
            </a>
            <span
              >, concorda em cumprir estes termos de serviço, todas as leis e
              regulamentos aplicáveis ​​e concorda que é responsável pelo
              cumprimento de todas as leis locais aplicáveis. Se você não
              concordar com algum desses termos, está proibido de usar ou
              acessar este site. Os materiais contidos neste site são protegidos
              pelas leis de direitos autorais e marcas comerciais aplicáveis.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>2. Uso de Licença </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >É concedida permissão para baixar temporariamente uma cópia dos
              materiais (informações ou software) no site Estudo Mapeado ,
              apenas para visualização transitória pessoal e não comercial. Esta
              é a concessão de uma licença, não uma transferência de título e,
              sob esta licença, você não pode:
            </span>
          </p>
          <ul class="a-no-se-envolver-em-atividad">
            <li class="b-no-difundir-propaganda-ou">
              <span>modificar ou copiar os materiais; </span>
            </li>
            <li class="b-no-difundir-propaganda-ou">
              <span
                >usar os materiais para qualquer finalidade comercial ou para
                exibição pública (comercial ou não comercial);
              </span>
            </li>
            <li class="b-no-difundir-propaganda-ou">
              <span
                >tentar descompilar ou fazer engenharia reversa de qualquer
                software contido no site Estudo Mapeado;
              </span>
            </li>
            <li class="b-no-difundir-propaganda-ou">
              <span
                >remover quaisquer direitos autorais ou outras notações de
                propriedade dos materiais; ou
              </span>
            </li>
            <li class="b-no-difundir-propaganda-ou">
              <span
                >transferir os materiais para outra pessoa ou 'espelhe' os
                materiais em qualquer outro servidor.
              </span>
            </li>
          </ul>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Esta licença será automaticamente rescindida se você violar
              alguma dessas restrições e poderá ser rescindida por Estudo
              Mapeado a qualquer momento. Ao encerrar a visualização desses
              materiais ou após o término desta licença, você deve apagar todos
              os materiais baixados em sua posse, seja em formato eletrónico ou
              impresso.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>3. Isenção de responsabilidade </span>
          </p>
          <ul class="a-no-se-envolver-em-atividad">
            <li class="b-no-difundir-propaganda-ou">
              <span
                >Os materiais no site da Estudo Mapeado são fornecidos 'como
                estão'. Estudo Mapeado não oferece garantias, expressas ou
                implícitas, e, por este meio, isenta e nega todas as outras
                garantias, incluindo, sem limitação, garantias implícitas ou
                condições de comercialização, adequação a um fim específico ou
                não violação de propriedade intelectual ou outra violação de
                direitos.
              </span>
            </li>
            <li class="b-no-difundir-propaganda-ou">
              <span
                >Além disso, o Estudo Mapeado não garante ou faz qualquer
                representação relativa à precisão, aos resultados prováveis ​​ou
                à confiabilidade do uso dos materiais em seu site ou de outra
                forma relacionado a esses materiais ou em sites vinculados a
                este site.
              </span>
            </li>
          </ul>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>4. Limitações </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Em nenhum caso o Estudo Mapeado ou seus fornecedores serão
              responsáveis ​​por quaisquer danos (incluindo, sem limitação,
              danos por perda de dados ou lucro ou devido a interrupção dos
              negócios) decorrentes do uso ou da incapacidade de usar os
              materiais em Estudo Mapeado, mesmo que Estudo Mapeado ou um
              representante autorizado da Estudo Mapeado tenha sido notificado
              oralmente ou por escrito da possibilidade de tais danos. Como
              algumas jurisdições não permitem limitações em garantias
              implícitas, ou limitações de responsabilidade por danos
              consequentes ou incidentais, essas limitações podem não se aplicar
              a você.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>5. Precisão dos materiais </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Os materiais exibidos no site da Estudo Mapeado podem incluir
              erros técnicos, tipográficos ou fotográficos. Estudo Mapeado não
              garante que qualquer material em seu site seja preciso, completo
              ou atual. Estudo Mapeado pode fazer alterações nos materiais
              contidos em seu site a qualquer momento, sem aviso prévio. No
              entanto, Estudo Mapeado não se compromete a atualizar os
              materiais.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>6. Links </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >O Estudo Mapeado não analisou todos os sites vinculados ao seu
              site e não é responsável pelo conteúdo de nenhum site vinculado. A
              inclusão de qualquer link não implica endosso por Estudo Mapeado
              do site. O uso de qualquer site vinculado é por conta e risco do
              usuário.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>Modificações </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >O Estudo Mapeado pode revisar estes termos de serviço do site a
              qualquer momento, sem aviso prévio. Ao usar este site, você
              concorda em ficar vinculado à versão atual desses termos de
              serviço.
            </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span>Lei aplicável </span>
          </p>
          <p class="poltica-privacidade">
            <span>&nbsp; </span>
          </p>
          <p class="poltica-privacidade">
            <span
              >Estes termos e condições são regidos e interpretados de acordo
              com as leis do Estudo Mapeado e você se submete irrevogavelmente à
              jurisdição exclusiva dos tribunais naquele estado ou localidade.
            </span>
          </p>
        </div>
        <b class="termos-de-uso1">Termos de uso</b>
      </div>
    </div>
  </body>
</html>