{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'textos.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Opti:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="textos">
      <img class="logo-icon" alt="" src="{% static 'logo@2x.png' %}" />


      <b class="textos1">Textos</b>
      <a href="{% url 'home' %}"><b class="sumrio">Sumário</b></a>
      
      <img class="image-20-icon" alt="" src="{% static 'image-20@2x.png' %}" />
      <img class="image-31-icon" alt="" src="{% static 'image-31@2x.png' %}" />


      <div class="textos-item"></div>
      {% if is_professor %}
        <a href="{% url 'criar_texto' %}"><button class="cria" style="
        position: absolute; top: 25.5%; left: 83%; z-index: 999; padding: 15px 20px; 
        background-color: #cde6f3; 
        border: none;
        border-radius: 10px; 
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Kaisei Opti;
        ">Criar Texto</button></a>
      {% endif %}
      {% if textos %}
            <section class="lista-de-cards">
                {% for texto in textos %}
                    <article class="card">

                      <img src="{{ texto.link }}"/>
                      <a href="{% url 'detail_textos' texto.id %}">
                        <h1>{{ texto.title }}</h1>
                      </a>

                         {% for categoria in texto.categories.all %}
                            <a href="{{ categoria.get_absolute_url }}">{{ categoria.name }}</a>
                         {% endfor %}
                         <p>{{ texto.created_on }}</p>
                         <p>{{ texto.preview }}...</p>
                    </article>
                {% endfor %}
            </section>
        {% else %}
            <p>Não foi encontrado nenhum texto.</p>
        {% endif %}
    </div>
      {% else %}
      <p>Você precisa estar logado para ver esta página.</p>
      {% endif %}
      
      <script>
        // Rola até a parte inferior da página
        function scrollToBottom() {
            window.scrollTo(0, document.body.scrollHeight);
        }

        // Chama a função após a página ser completamente carregada
        window.onload = scrollToBottom;
    </script>
  </body>
</html>
